temp.py
Sosanka_Data/Song/After_cleaning_Song.txt
Sosanka_Data/Song/raw_song.txt
Sosanka_Data/Story/After_cleaning_Story.txt
Sosanka_Data/Story/raw_story.txt
Sosanka_Data/News/raw_news.txt
Sosanka_Data/News/After_cleaning_news.txt