Sosanka_Data/Song/raw_song.txt
Sosanka_Data/Story/raw_story.txt
Sosanka_Data/Song/After_cleaning_Song.txt
Sosanka_Data/Story/After_cleaning_Story.txt




backup_data.zip
temporary_files
Ranjit_Data/temporary_data




rules_for_GPT/
main_goal_of_model.mdc
type_of_data_screap.mdc
rules_for_Data_Cleaning.mdc
rules_for_Data_Screaping.mdc
what_type_of_data_i want.mdc
rules_for_Data_Preparation.mdc
rules_for_ML_training_logic.mdc
rules_for_CNN_training_logic.mdc